:root {
    --background-color: #181818;
    --text-color: #ffffff;
    --button-color: #536DEB;
    --hover-color: #6C83F4;
}
  
body {
    background-color: var(--background-color);
    height: 100vh; 
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
h1 {
    color: var(--text-color);
    font-size: 80px;
    margin: 0 auto; 
}
  
h2 {
    color: var(--text-color);
    font-size: 25px;
    margin: 20px auto 0; 
}
  
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0; 
}
  
button {
    margin: 0 10px;
}
 
.news-btn a {
    text-decoration: none;
    color: var(--text-color);
}

.weather-btn a {
    text-decoration: none;
    color: var(--text-color);
}

.news-btn, .weather-btn {
    background-color: #536DEB;
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 200ms;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 10px;
}

.news-btn:hover, .weather-btn:hover {
    background-color: var(--hover-color);
}

footer {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100px; 
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

/* add media queries