/* General Styles */
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

/* Specific Styles -- News */
.logo {
  font-size: 28px;
}

.search-container {
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-form input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 25px 0 0 25px;
  background-color: #eee;
  margin-left: -1px;
}

.search-form button[type="submit"] {
  height: 40px;
  width: 80px;
  border: none;
  background-color: #646464;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  margin-left: -4px;
  color: #fff;
}

.search-input {
  display: flex;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-input input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 25px 0 0 25px;
  background-color: #eee;
}

.search-input button[type="submit"] {
  height: 40px;
  width: 100px;
  border: none;
  background-color: #646464;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  color: #fff;
}

.card {
  width: 30%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-link {
  height: 40px;
  width: 100px;
  border: none;
  background-color: #666666;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin-top: 10px;
}

.top-stories {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.search-results {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.search-results .card {
  width: 20%;
  height: auto;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.search-results .card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .search-results .card {
    width: 100%;
  }
}
/* Media Queries */

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
